<div class="image-carousel">
  <div class="carousel-track">
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/callOfDuty.jpg" alt="Call of Duty game cover">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/flightSim.jpg" alt="Flight Simulator game cover">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/needForspeed.jpg" alt="Need for Speed game cover">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/mario.jpg" alt="Super Mario game cover">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/granTurismo.jpg" alt="Gran Turismo game cover">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/packman.jpg" alt="Pac-Man game cover">
    </div>
  </div>

  <div class="carousel-track" aria-hidden="true">
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/callOfDuty.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/flightSim.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/needForspeed.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/mario.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/granTurismo.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/packman.jpg" alt="">
    </div>
  </div>
</div>
