<div class="image-carousel">
  <div class="carousel-track">
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/callOfDuty.jpg" alt="Call of Duty">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/flightSim.jpg" alt="Flight Simulator">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/needForspeed.jpg" alt="Need for Speed">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/mario.jpg" alt="Super Mario">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/granTurismo.jpg" alt="Gran Turismo">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/packman.jpg" alt="Pac-Man">
    </div>
  </div>

  <div class="carousel-track" aria-hidden="true">
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/callOfDuty.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/flightSim.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/needForspeed.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/mario.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/granTurismo.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="resources/images/packman.jpg" alt="">
    </div>
  </div>
</div>